# ===== C++ Compiled Files =====
*.exe
*.out
*.app

# Object files
*.o
*.obj

# ===== Debug / Log =====
*.log

# ===== IDE / Editor =====
.vscode/
.idea/
*.code-workspace

# ===== OS Files =====
.DS_Store
Thumbs.db
